@media screen and (min-width: 768px) {
    .signup-container {     
      min-height: 100vh;
      width: 950px;
      background-color: #ffffff;
      padding: 10px;      
      display: flex;
      justify-content: center;
      align-items: center;
     
      
    }
  
    .login-img {
      width: 470px;
      height: 550px;
      left: 160px;
      top: 326px;
      border-radius: 0px;
    }
  
    .form-container {
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
     
      width:370px;
      box-shadow: 0px 8px 40px opx #07070714;
    }
  
    .login_website_log {
      width: 82px;
      height: 42px;
      top: 343px;
      left: 1011px;
    }
    .website-title {
      font-family: "Roboto";
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
      letter-spacing: 0px;
      text-align: center;
    }
    .paragraph {
      font-family: "Roboto";
      font-size: 15px;
      font-weight: 500;
      line-height: 1px;
      letter-spacing: 0px;
      text-align: center;
      margin: 0px;
    }
  
    .input-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 20px;
    }
  
    .input-label {
      font-family: "Roboto";
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 0.01em;
      text-align: left;
      color: #262626;
    }
    .user-input-field {
      height: 40px;
      top: 24px;
      border-radius: 2px;
      background-color: #ffffff;
      outline: none;
      border: 1px solid #262626;
      border-radius: 5px;
    }
  
    .password-input-field {
      font-size: 14px;
  
      height: 40px;
      top: 24px;
      border-radius: 2px;
      background-color: #eeeeee;
      outline: none;
      background-color: #ffffff;
      border: 1px solid #262626;
      border-radius: 5px;
    }
    .signup-button {
      font-family: "Roboto";
      font-weight: bold;
      font-size: 14px;
      color: #ffffff;
      height: 40px;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 2px;
      background-color: #0b69ff;
      border-radius: 8px;
      border: none;
      outline: none;
      cursor: pointer;
    }
  
    .error-message {
      align-self: start;
      font-size: 12px;
      margin-top: 3px;
      margin-bottom: 0px;
      font-family: "Roboto";
      font-size: 12px;
      line-height: 16px;
      color: #ff0b37;
    }
  }
  
  @media screen and (max-width: 767px) {
    .login-img {
      display: none;
    }
  
    .signup-container {
      display: flex;
      height: 100vh;
      align-items: center;
    }
  
    .website-title {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      /* identical to box height, or 133% */
  
      text-align: center;
  
      color: #262626;
    }
  
    .form-container {
      font-family: Roboto;
      display: flex;
      min-height: 70vh;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      border-radius: 8px;
      width: 100%;
      max-width: 350px;
      margin: auto;
      box-shadow: 0px 8px 40px 0px #07070714;
    }
  
    .input-container {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      width: 100%;
    }
  
    .input-label {
      margin-bottom: 0px;
      font-family: "Roboto";
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      text-align: left;
      color: #475569;
    }
  
    .user-input-field {
      font-size: 14px;
      height: 30px;
      border: 1px solid #d7dfe9;
      background-color: #e2e8f0;
      color: #64748b;
      border-radius: 2px;
      margin-top: 5px;
      padding: 8px 16px 8px 16px;
      outline: none;
    }
  
    .password-input-field {
      font-size: 14px;
      height: 30px;
      border: 1px solid #d7dfe9;
      background-color: #e2e8f0;
      color: #64748b;
      border-radius: 2px;
      margin-top: 5px;
      padding: 8px 16px 8px 16px;
      outline: none;
    }
  
    .signup-button {
      font-family: "Roboto";
      font-weight: bold;
      font-size: 14px;
      color: #ffffff;
      height: 40px;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 2px;
      background-color: #0b69ff;
      border-radius: 8px;
      border: none;
      outline: none;
      cursor: pointer;
    }
  
    .error-message {
      align-self: start;
      font-size: 12px;
      margin-top: 3px;
      margin-bottom: 0px;
      font-family: "Roboto";
      font-size: 12px;
      line-height: 16px;
      color: #ff0b37;
    }
  }
  
  .check-input-field {
  }
  
  .check-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  
    width: 100%;
    margin-top: 20px;
  }
  
  .span {
    color: rgb(90, 90, 245);
  }
  

  .link{
    text-decoration: none;
  }